*{
    box-sizing: border-box;
}
header{
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgb(74, 74, 75);
    box-shadow: 5px 5px 5px rgb(105, 105, 107);
}
.grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
.grid img{
    width: 100%;
    border: 3px solid white;
    margin: auto;
}
body{
    background-image: url(./fotos/foto15.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
video{
    width: 35%;
}