*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flexbox;
}

.titulo{
    background-color: blue;
    color: black;
    font-style: italic;
    text-align: center;
    height: 80px;
    width: auto;
    padding: 1rem;
}

.menuFlex{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto 0 auto left;
    text-align: center;
        
}
    
.menuFlex a{
    text-decoration: none;
    background-color: rgb(58, 48, 197);
    color: black;
    padding: 20px;
    flex-grow: 1;
}
    
    
.menuFlex a:hover{
    background-color: rgb(111, 100, 214);
}
body{
    display: grid;
}
section{
    background-color: antiquewhite;
    margin: 2.5rem auto;
    width: 60rem;
    height: auto;
    margin-top: 95px;
    cursor: cell;
}
section p{
    font-size: 20px;
    text-align: center;
}
.lema{
    font-size: 25px;
    font-style: italic;
    margin-top: 2rem;
}
footer{
    background-color: rgb(13, 13, 255);
    color: black;
    font-style: italic;
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 1.5rem;
}
img{
    width: 100px;
}
@media (min-width: 600px){
    nav{
        font-size: 2em;
    }
    nav a{
        padding: 25px;
        background-color: brown;
    }
 }
 
 
 @media (max-width:600px) and (min-width: 400px){
    nav{
        font-size: 1.5em;
        background-color:burlywood;
    }
    nav a{
        padding: 15px;
    }  
 }
 
 
 @media (max-width:400px) {
    nav{
        grid-auto-flow: row;
        font-size: 1em;
        background-color:cadetblue;
    } 
 }
 