body{
    background-image: linear-gradient( rgb(78, 196, 0), rgb(0, 89, 255));
    }
h1{
    background-color: red;
    text-align: center;
    margin-top: auto;
    border-radius: 20px;
}
header{
    width: 70%;
    margin: auto;
    padding-bottom: 5px;
    margin-top: auto;
}
table{
    caption-side: bottom;
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}
td,th{
    border: 2px solid red;
    padding: 05rem 1rem 0.5rem 1rem;
}

h1,td, th{
    text-align: center;
    padding: 2rem;
}
table tr:first-child{
    background-image: linear-gradient(to right, blue, rgb(0, 102, 255));
    color: white;
}