@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    padding: 2em;
    background: linear-gradient(to right, rgb(28, 4, 236) 10%, rgba(60, 41, 233, 0.534) 50%, rgb(7, 41, 194) 100%);
}
nav{
    background-color: rgb(127, 150, 255);
    width: 15rem;
    height: 5rem;
    text-align: center;
    padding: 1.5rem;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
}
section{
    display: flex;
    height: 300px;
    cursor: url(./Cursor/cursor.cur), auto;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.5;
    transition: 2s ease;
}
section img:hover{
    width: 99px;
    opacity: 1;
    filter: contrast(100%);
}
section img:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
section img:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
h1{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  cursor: url(./Cursor/cursor\ \(1\).cur), auto;
}
.muchas{
    font-family: "Playwrite CZ", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
p{
    text-align: center;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }