
body {
    background: white;
    margin: 0;
  
}
header{
    padding-top: 1rem;
    background-color: #ff0000c4;
    width: 55%;
    margin: auto;
    border-radius: 10px;
    
}
.titulo{
    text-align: center;
    color: #000000;
    padding-bottom: 2rem;
}
.porf{
    font-size: 1rem;
    text-align: center;
}

form {
    max-width: 690px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(240, 31, 31, 0.562);
}

fieldset {
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid white;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

nav{
    background-color: #4a73ff;
    width: 10rem;
    height: 1rem;
    text-align: center;
    padding: 1rem;
    justify-content: space-around;
    margin-top: 2rem;
    border-radius: 15px;
    margin: auto;
}
nav a{
    text-decoration: none;
}

button, input [type="submit"] {
    padding: 15px 20px;
    background: #4a73ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}


@media (max-width: 600px) {
    form {
        padding: 15px;
    }
    input, textarea, select {
        font-size: 14px;
    }
}