*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flexbox;
}
nav{
    background-color: rgb(127, 150, 255);
    width: 10rem;
    height: 3rem;
    text-align: center;
    padding: 1rem;
    justify-content: space-around;
    margin-top: 2rem;
    margin: 1rem;
}
nav a{
    text-decoration: none;
}

#titulo1{
    color: white;
    background-color: rgba(255, 255, 255, 0.527);
    text-align: center;
    height: 80px;
    width: auto;
    padding: 1rem;
}
body{
    background-image: url(./fotos/descarga.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
article{
    font-size: 1.5em;
    text-align: justify;
    column-count: 2;
    column-gap: 2em;
    column-rule: 3px solid red;
    color: aliceblue;
    margin-left: 15px;
    margin-right: 15px;
}

p::first-letter{
    font-size: 2em;
    color: gray;
}
