*{
    box-sizing: border-box;
}
header{
    background-color: rgb(0, 81, 255);
    width: 100%;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgb(74, 74, 75);
    box-shadow: 5px 5px 5px rgb(105, 105, 107);
}
.grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
.grid img{
    width: 100%;
    border: 3px solid rgb(73, 94, 214);
    margin: auto;
}
.grid img:hover{
    transform: scale(0.9);
    transition: all 0.5s linear;
}
nav{
    background-color: rgb(127, 150, 255);
    width: 10rem;
    height: 2rem;
    text-align: center;
    padding: 1.5rem;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
}
body{
    background-color: whitesmoke;
}
h1{
    text-align: center;
}
.aud{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.aud audio {
    width: 250px;
}
.vid{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.vid video{
    width: 35%;
    height: auto;
}
iframe{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(width<=576px){
  .grid{  grid-template-columns: 1fr;}
  card h3{ font-size: 3rem;}
}
@media(width<=768px) and (width>576px){
    .grid{grid-template-columns: repeat(2.1fr);}
}